
/* for mobile */
@media only screen and (max-width: 600px) {

  div.login-container{
    width: 90%!important;
  }
  
 
}

@media only screen and (orientation : landscape){

  /* div.login-container{
    width: 80%!important;
  } */
  
 
}

@media only screen and (min-width : 601px) and (max-width:1024px){

 

}


div.login-container{
  margin-top: 15vh;
  text-align: center;  
  width: 30vw;
  background-color: #003152;  
  padding: 0;
  box-shadow: 2px 5px 10px lightslategrey;
  
}

div label{
  color:white;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 8vh;
}


div.login-form-container{
  background-color: white ;
  border-top-left-radius: 20%;
  margin-top: 10vh;
  padding: 5%;
  text-align: center;
  
}

.form {
    text-align: right;
    margin-top: 10%;
    padding: 5%;
  }
  
  .full-width {
    width: 100%;
  }
mat-form-field {
  margin-top: 1%;
 padding: 0 2% 0 2%;
 border-radius: 10px;
}

.registerLink{
  text-align: left;
}
  