
<div class="container-fluid login-container">
  <label>D!GI Notebook</label>
    <div class="container-fluid login-form-container">
        
  <form class="form" [formGroup]="loginForm" >
  
  
  
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input formControlName="userid"  [errorStateMatcher]="matcher"  matInput type="email" >
      <mat-error *ngIf = "loginForm.controls.userid.hasError('email') && !loginForm.controls.userid.hasError('required')">
      Please Enter a valid email address</mat-error>
      <mat-error *ngIf="loginForm.controls.userid.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input formControlName="password" [errorStateMatcher]="matcher" matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Password">
      <button ng-show="this.loginForm.controls.password.dirty==true" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
      Password is <strong>required</strong></mat-error>
       <mat-error *ngIf="loginForm.controls.password.hasError('minLength')
       && !loginForm.controls.password.hasError('required')">
      Password is too<strong>short</strong>
      </mat-error>
    </mat-form-field>
    <div class="container-fluid" >
      <a mat-raised-button (click)="login()" [disabled] = "loginForm.invalid">Login</a>
    </div>
      
    
  <div class="container-fluid registerLink">
    <p>Don't have account? <a href="#"[routerLink]="['/register']">Sign up</a></p>
  </div>
  <strong class="text-danger" *ngIf="errorMessage!=null">{{errorMessage}}</strong>
    
  
  </form>
    </div>
</div>
  