
/* for mobile */
@media only screen and (max-width: 600px) {

    .credentialDetail{
        
        
        text-align: left!important;
        
    }

    .credentialDetail ul li label:nth-child(1){
        
        width: 38%!important;
    }
    .credentialDetail ul li label:nth-child(2){
        width: 38%!important;    
        
    }
    .credentialDetail ul li label:nth-child(3){
        width: 24%!important;
        display: inline-block!important;
    }
    
   
  }
  

.addCredentialContainer{
    background-color: whitesmoke;
   padding: 1%;
   padding-left:2%; 
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 10;
    border-color: white;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    
}
.addCredentialContainer mat-form-field:nth-child(2){
    margin-left: 20px;
}

mat-form-field{
    width: 30%;
}

.addCredentialContainer a {
    margin-left: 20px; 
}

.credentialDetail{
    text-align: center;
    padding: 1%;
    
}

.credentialDetail ul {
    list-style-type: none;
    padding: 0;
}

.credentialDetail ul li{
    padding: 0;
    
   
}
mat-icon{
    cursor: pointer;
}


.credentialDetail ul li label{
    width: 35%;
    display: inline-block;
    background-color: whitesmoke;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
    
}
.credentialDetail ul li label:nth-child(1) mat-form-field input{
    color: black;
    font-weight: bolder;
    letter-spacing: .1em;
}

.credentialDetail ul li label:last-child{
    width: 10%;
    padding: 0px;
    text-transform: none;
    padding-left : 10px;
    line-height: 50px;
    
}

.credentialDetail ul li label:nth-child(2) mat-form-field{
    color:darkslategrey;
}
.credentialDetail ul li label mat-form-field{
    width: 90%;
}


mat-icon{
    vertical-align: middle;
}


