
<div class="container-fluid addCredentialContainer">
<form [formGroup] = "addCrdenetialForm">
    <mat-form-field fill="appearance">
        <mat-label>Name</mat-label>
        <input matInput formControlName = "name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Key</mat-label>
        <input matInput formControlName = "key">
    </mat-form-field>
    
        <a mat-raised-button [disabled]="addCrdenetialForm.invalid" (click)="addCredential()" >Add</a>
        
     
</form>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>
<div class="container-fluid credentialDetail">
       
    <ul>
        <li *ngFor = "let c of credentials">
            <form [formGroup]="credentialForm"> 
            <label>
                    <mat-form-field>
                        <input class="editName" readonly= 'true' matInput value="{{c.name}}"  formControlName="name" >
                    </mat-form-field>
                </label>
            <label>
                <mat-form-field style="width : 100%">
                    <input class="editKey" readonly = 'true' type = "password" matInput value="{{c.key}}"  formControlName="key" >
                    <button class="keyHideBtn"  style="text-align:left" ng-show="this.loginForm.controls.password.dirty==true" mat-icon-button matSuffix (click)="showKey($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideKey">
                            <mat-icon>{{hideKey ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                       
                </mat-form-field>
            </label>
            <label>
                    <mat-icon class="editCredential" color="primary" matTooltip="Edit" aria-label="Edit" 
                    (click)="editCredential($event)">edit</mat-icon>
            <mat-icon class="saveCredential" color="primary" matTooltip="Save" aria-label="Save" 
             [ngClass]="{'disable': true}" (click)="saveCredential($event, c._id)">save</mat-icon>
            <mat-icon color="warn" matTooltip="Delete" aria-label="Delete" (click)="deleteCredential(c._id, c.name)">delete</mat-icon>
        </label>
    </form>
        
        </li>
       
    </ul>
</div>
