<mat-progress-bar mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>
<div class="container-fluid addCredentialContainer">
<form [formGroup] = "addCrdenetialForm">
    <mat-form-field fill="appearance">
        <mat-label>Name</mat-label>
        <input matInput formControlName = "name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Key</mat-label>
        <input matInput formControlName = "key">
    </mat-form-field>
    
        <a mat-raised-button [disabled]="addCrdenetialForm.invalid" (click)="addCredential()" >Add</a>
      
</form>
</div>
<div class="container-fluid credentialDetail">
    <ul>
        <li *ngFor = "let c of credentials">
            <label>{{c.name}} </label>
            <label>{{c.key}}</label>
            <label>
            <mat-icon color="primary" matTooltip="Edit" aria-label="Edit">edit</mat-icon>
            <mat-icon color="warn" matTooltip="Delete" aria-label="Edit">delete</mat-icon>
        </label>
        
        </li>
       
    </ul>
</div>
