
/* for mobile */
@media only screen and (max-width: 600px) {

    .credentialDetail{
        
        
        text-align: left!important;
        
    }

    .credentialDetail ul li label:nth-child(1){
        
        width: 38%!important;
    }
    .credentialDetail ul li label:nth-child(2){
        width: 38%!important;    
        
    }
    .credentialDetail ul li label:nth-child(3){
        width: 24%!important;
        display: inline-block!important;
    }
    
   
  }
  

.addCredentialContainer{
    background-color: whitesmoke;
   padding: 1%;
   padding-left:2%; 
    text-align: left;
    
}
.addCredentialContainer mat-form-field:nth-child(2){
    margin-left: 20px;
}

mat-form-field{
    width: 30%;
}

.addCredentialContainer a {
    margin-left: 20px; 
}

.credentialDetail{
    background-color: white;
    text-align: center;
    padding: 1%;
    
}

.credentialDetail ul {
    list-style-type: none;
    padding: 0;
}

.credentialDetail ul li{
    padding: 0;
   
}


.credentialDetail ul li label{
    width: 35%;
    display: inline-block;
    background-color: whitesmoke;
    line-height: 48.5px;
    
}

.credentialDetail ul li label:last-child{
    width: 10%;
    padding: 0px;
    
}
mat-icon{
    vertical-align: middle;
}


