


/* for mobile */
@media only screen and (max-width: 600px) and (orientation : portrait){
    .box{
        height: 30vh!important;
    }

    label{
        font-size:30px!important;
        margin-top: 20%!important;
        
    }
    p{
        font-size: 2vh!important;
    }
    .profile-container strong{
        
        font-size: 2vh!important;
    }
   
    
   
  }
  
  @media only screen and (orientation : landscape){
  
    
   
  }
  
  @media only screen and (min-width : 601px) and (max-width:1024px){
  
   
  
  }
  


.box{
    height: 40vh;
    background-color: #003152;
    padding: 0;
    color: white;
}
.profile-container{
    line-height: 5vh;
    float: left;;
    width: 100%;
    margin-top: 3%;
    position: relative;
}
.profile-container strong{
    float: left;
    margin-left: 2%;
    font-size: 2vw;
}
.profile-container button{
    float: right;
    margin-right: 2%;
    background: transparent;
}
label{
    font-size:40px;
    margin-top:6%;
    
}
#logoutBtn:hover , #logoutBtn:active,  #logoutBtn:focus{
    color: white;
}



.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .btn{
    outline: none;
    cursor: pointer;
  }

  /* .active, .btn:hover {
      border-style: solid;
      border-width: 0px 0px 2px
    border-bottom-color: #003152;
  } */
  
 .scrollmenu button {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #003152;    
    background-color: white;
    
  }
  .scrollmenu .btn:nth-child(2){
      margin-left: 10px;
      margin-right: 10px;
  }
  
 .active {
    border-width: 0px 0px 5px 0px;
    border-color: dodgerblue;
    color: white!important;
    outline: none!important;
    font-weight: bolder;
    background-color: #003152!important;
  }

  .modal-body{
      text-align: left;
      background-color: #3d444a;
      line-height: 30px;
     }

  .modal-body strong{
    color: white;
    vertical-align: middle;
    font-size: large;
  }
  .modal-body button{
      margin: 5px;
      float: right;
      vertical-align: middle;
  }
 

